Builds/MacOSX/AnimationWriter.xcodeproj/xcuserdata/
Builds/MacOSX/AnimationWriter.xcodeproj/project.xcworkspace/
Builds/MacOSX/build/Debug/
Builds/MacOSX/build/Release/
Builds/MacOSX/build/AnimationWriter.build/
JuceLibraryCode/

