Builds/MacOSX/VideoPlayer.xcodeproj/xcuserdata/
Builds/MacOSX/VideoPlayer.xcodeproj/project.xcworkspace/
Builds/MacOSX/build/Debug/
Builds/MacOSX/build/Release/
Builds/MacOSX/build/VideoPlayer.build/
JuceLibraryCode/

